:root {
  --color-bg: #131417;
  --color-bg-raised: #1B1C21;
  --color-fg: #FAFAFA;
  --color-accent: #DFE104;
  --color-accent-fg: #000000;
  --color-accent-2: #DA2E25;
  --color-accent-2-fg: #FFFFFF;
  --color-accent-3: #3452E0;
  --color-accent-3-fg: #FFFFFF;
  --color-accent-3-text: #6E86FF;
  --color-border: #46464E;
  --color-muted: #A1A1AA;
  --color-focus: var(--color-accent);
  --shadow-offset: none;
  --border-width: 2px;
  --radius: 0px;
  --font-display: 'Space Grotesk', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', 'Courier New', monospace;
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 48px;
  --space-5: 96px;
  --transition-fast: 120ms ease;
}

:root[data-theme="light"] {
  --color-bg: #FFFFFF;
  --color-bg-raised: #F2F2F2;
  --color-fg: #0B0B0D;
  --color-accent: #DFE104;
  --color-accent-fg: #000000;
  --color-accent-2: #DA2E25;
  --color-accent-2-fg: #FFFFFF;
  --color-accent-3: #3452E0;
  --color-accent-3-fg: #FFFFFF;
  --color-accent-3-text: #3452E0;
  --color-border: #0B0B0D;
  --color-muted: #4B4B52;
  --color-focus: var(--color-fg);
  --shadow-offset: 6px 6px 0 var(--color-fg);
}
